@import url('https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "DM Sans", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: var(--grad, linear-gradient(180deg, #122050 0%, rgba(99, 255, 198, 0.41) 100%));
}

.bkg {
  top:0;
  left:0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: var(--grad, linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
